/**{
	border: 1px dashed #090988;
}*/

body{
	padding: 5px; 
	font-family: sans-serif; 
}

/* full image background */

/*

html, body { 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

*/

/*----------end full image background----------------*/

a{
	padding: 5px;
	text-decoration: none;
}

h1{
	margin: 10px 0px 10px 0px;
}

#quote{
	/*min-height: 100px;*/
	float: left;

}

#left{
	min-height: 100%;
	display: inline-block;
}

#right{
	display: inline-block;
}

#advice{
	display: block;
	max-width: 500px;
}

/*-----make navbar do green gradient-----*/
.navbar{
 	/* fallback/image non-cover color */
	background-color: #2F2727; 
   	/* Safari 4+, Chrome 1-9 */
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#737144), to(#2F2727));
   	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   	background-image: -webkit-linear-gradient(left, #53ED84, #5C7A3D); 
   	/* Firefox 3.6+ */
   	background-image: -moz-linear-gradient(left, #737144, #2F2727);
   	/* IE 10+ */
   	background-image: -ms-linear-gradient(left, #737144, #2F2727);
   	/* Opera 11.10+ */
   	background-image: -o-linear-gradient(left, #737144, #2F2727);
}   

/*-----make navbar transparent-----*/
.navbar{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/*-----make navbar transparent 2-----*/

.navbar{
	background-color: rgba(0,0,0,0.2);
}


.navbar-default .navbar-nav>li>a{
	color: #ffffff;
}